@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }

  .franklinImg {
	  height: 300px;
	  width: 100%;
	  position: relative;
	  z-index: 0;
	}
	.overlay {
	  height: 300px;
	  width: 100%;
	  background-color: #D3D3D3;
	  position: absolute;
	  z-index: 100;
	  opacity: .4;
	}
	.overlay:before {
	  content: "Large";
	  margin-left: 50%;
	  font-size: 24px;
	}
  
}