/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Open Sans';
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
	max-width: 100%;
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
	float: left;
	display: inline;
}
nav ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a {
	background-color: #4CAF50;
}
nav ul li a:hover {
	background-color: #111;
}

main { display: inline-block; }
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 96%; /* fill the page in the small/phone view */
  margin: .35rem 2%;
  float: right;
}

footer {}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

.hamburger { display: block;position: absolute;top: 2.0rem;right: 1.25rem; }

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }

.navigation.responsive { position: relative; }
.navigation.responsive li { background-color: #333;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; }
.navigation.responsive li a {	padding: 1rem; text-align: center;	display: block; text-decoration:none; }
.navigation.responsive li a:hover { background-color: #eee; }

.forecast {
	display: none;
}

.franklinImg {
  height: 250px;
  width: 90%;
  margin-left: 5%;
  position: relative;
  z-index: 0;
}
.overlay {
  height: 250px;
  width: 90%;
  margin-left: 5%;
  background-color: #D3D3D3;
  position: absolute;
  z-index: 100;
  opacity: .4;
}
.overlay:before {
  content: "Small";
  margin-left: 50%;
  font-size: 24px;
}